<div class="container">
    <h1 class="text-center">API Integration</h1>
    
    <h1>{{ name }}</h1>

    <div>
        <table *ngFor="let list of data">
             <tr>
                <td>ID:</td>     
                 <td>{{ list.id }}</td>
            </tr>         
            <tr>
                <td>UserID:</td>     
                 <td>{{ list.userId }}</td>
            </tr>         
            <tr>
                <td>Title</td>     
                 <td>{{ list.title }}</td>
            </tr>     
            <tr>
                <td>Body</td>     
                 <td>{{ list.body }}</td>
            </tr>                   
        </table>
    </div>
</div>