<div class="container">
    <h1 class="text-center">API Integration</h1>
    <ul>
        <li><a class="active">Posts</a></li>
        <li><a (click)="toggleId()">Users</a></li>
        <li><a href="">Albums</a></li>
   
      </ul>

    <div *ngIf="!showId" class="posts-section">
        <h1>Posts</h1>
        <div class="table">
            <table *ngFor="let list of data" class="list-wrapper">
                <tr>
                    <td>ID:</td>
                    <td>{{ list.id }}</td>
                </tr>
                <tr>
                    <td>UserID:</td>
                    <td>{{ list.UserId }}</td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td>{{ list.title }}</td>
                </tr>
                <tr>
                    <td>Body</td>
                    <td>{{ list.body }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div *ngIf="showId" class="users-section">
        <h1>Users</h1>
        <div class="table">
            <table *ngFor="let list of data" class="list-wrapper">
                <tr>
                    <td>ID:</td>
                    <td>{{ list.id }}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{ list.UserId }}</td>
                </tr>
                <tr>
                    <td>UserName</td>
                    <td>{{ list.title }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ list.body }}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <p>{{ list.body }}</p>
                </tr>
            </table>
        </div>
    </div>


</div>
















